* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

/* Navbar Start  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0.8rem 10%;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(4px);
}

.navbar-nav {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.navbar .content-2 {
  display: none;
}

.navbar a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: white;
  padding: 0.4rem 1rem;
  color: black;
}

.menu-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: white;
  display: flex;
}

.logo {
  display: flex;
}

.logo img {
  width: 55px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
}
/* Navbar End  */

/* Hero Section Start */
.hero-section {
  padding: 10rem 10% 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: aqua; */
}

.hero-section .content-1 a {
  display: inline-block;
  background-color: black;
  text-decoration: none;
  color: white;
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

.hero-section .content-1 a:hover {
  opacity: 0.9;
}

.hero-section h1 {
  font-size: 3rem;
  line-height: 1.4;
  max-width: 90%;
}

.hero-section span {
  display: block;
}

.hero-section span.js,
span.html,
span.css {
  display: inline;
  color: brown;
}

.hero-section img {
  width: 400px;
  filter: grayscale(80%) blur(4px);
  background-color: wheat;
  border-radius: 50%;
  transition: 0.5s;
}

.hero-section img:hover {
  filter: none;
  border: 1px solid black;
}
/* Hero Section Start */

/* About Section Start */
.about-section {
  margin-top: 1rem;
  padding: 7rem 10%;
  display: flex;
  justify-content: center;
}

.about-section .content-1 {
  flex: 2;
}

.about-section .content-2 {
  margin-top: 1rem;
  flex: 1;
}

.about-section h2 {
  font-size: 3rem;
  text-decoration: underline;
}

.about-section h3 {
  font-size: 2rem;
}

.about-section .content-1 p {
  margin: 1rem 0;
  font-size: 1.5rem;
  max-width: 90%;
  font-weight: 300;
}
.about-section .content-2 p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
}
/* About Section End */

/* Projects Section */

.projects-section h3 {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 3rem;
  padding-top: 6rem;
}

.projects-section figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.8rem 10%;
}

.card-img {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
  line-height: 0;
}

.projects-section figure img {
  width: 450px;
  transition: 0.3s;
}

.projects-section figure img:hover {
  transform: scale(1.5);
}

/* Footer Start */
footer {
  margin-top: 7rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  text-align: center;
  flex-wrap: wrap;
}

.footer-content {
  padding: 0.8rem 10%;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer-content a {
  color: white;
}

.footer-content a:hover {
  color: yellow;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-social {
  display: flex;
  gap: 2rem;
}
/* Footer End */

/* Responsive */
/* mobile */
@media (max-width: 576px) {
  /* Hero Section Start */
  .hero-section {
    display: block;
  }

  .hero-section .content-1 {
    max-width: 100%;
    margin-bottom: 4rem;
    line-height: 1.3;
  }

  .hero-section h1 {
    font-size: 3rem;
    max-width: 100%;
  }
  .hero-section img {
    width: 400px;
    filter: none;
    background-color: wheat;
    border-radius: 50%;
    transition: none;
  }

  .hero-section img:hover {
    border: none;
  }

  .hero-section .content-1 a {
    display: inline-block;
    font-size: 1.5rem;
    background-color: black;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    padding: rem 1.5rem;
    border-radius: 10px;
  }
  /* Hero Section End */

  /* About Section Start */
  .about-section {
    display: block;
    margin-top: 0rem;
    padding: 2rem;
  }

  .about-section .content-1 p {
    max-width: 100%;
  }
  /* About Section End */

  /* Projects Section Start */
  .projects-section figure {
    flex-wrap: wrap;
  }

  .projects-section figure img:hover {
    transform: none;
  }

  /* Projects Section End */
}

@media (max-width: 768px) {
  /* Navbar Start */
  .navbar {
    position: relative;
  }
  .navbar-nav {
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);
    min-height: 100vh;
    inset: 0;
    z-index: -2;
    transform: translateY(-100%);
    transition: 0.3s;
  }

  .navbar-nav.active {
    transform: translateY(0);
  }

  .navbar a {
    color: white;
  }

  .navbar .content-2 {
    display: block;
  }
  /* Navbar End */
}
